{erl_opts, [debug, warnings_as_errors]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -march=opteron -O2 -g -fPIC -Wall -Werror -Ic_src/libbrine/include -std=gnu99"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/libbrine/libbrine_s.a"}]}.
{port_specs, [{"priv/brine_nif.so", ["c_src/*.c"]}]}.

{pre_hooks, [{compile, "make -C c_src deps"}]}.
