{erl_opts, [debug, warnings_as_errors]}.
{require_otp_vsn, "R16|R16B01|R16B02|R16B03"}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -march=core2 -O3 -g -fPIC -Wall -Werror -Ic_src -Ic_src/ed25519/src -Ic_src/blake2/sse -std=gnu99"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS"}]}.
{port_specs, [{"priv/brine_nif.so", ["c_src/*.c", "c_src/ed25519/src/*.c", "c_src/blake2/sse/blake2*.c"]}]}.

{pre_hooks, [{compile, "make -C c_src deps"}]}.
